nav {
    background-color: var(--black);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 100;
    padding: 10px 20px;
    
}

.enlace {
  padding: 0;
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

nav a , i {
    color: var(--white);
}

.nav-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    list-style: none;
}

.nav-list li a {
    color: var(--white);
    font-size: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.checkbtn {
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;
}

.header-user {
    display: flex;
    align-items: center; 
    gap: 5px;
    font-size: 20px;
    color: var(--white);
    flex-shrink: 0;
    font-size: 15px;
    padding: 20px;
    margin-left: auto;
}

.nav-list :hover{
    color: var(--dorado);

}

.header-user :hover{
    color: var(--dorado);

}

#check{
    display: none;
}


@media (max-width: 768px) {
  .checkbtn {
    display: block;
    font-size: 28px;
    padding-right: 10px;
  }

  .nav-list {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 60px);
    flex-direction: column;
    background: #111;
    transition: left 0.3s;
    z-index: 99;
  }

  #check:checked ~ .nav-list {
    left: 0;
  }

  .nav-list li {
    margin: 20px 0;
  }
}


@media (min-width: 769px) {
  .checkbtn {
    display: none;
  }
}
