form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 40px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: 14px;
  border-radius: 4px;

}

h1{
    color: var(--dorado);
  text-align: center;
  margin-top: 40px;
  }

.btn-enviar {
  background-color: var(--dorado);
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-enviar:hover {
  background-color: #a88653;
}
