.productos-section {
  padding: 60px 20px;
  background-color: #000;
  color: var(--white);
  text-align: center;
  min-height: 100vh;
}

.titulo-productos {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
  color: var(--dorado);
}

.productos-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.producto-card {
  background-color: #111;
  padding: 20px;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(159, 122, 73, 0.2);
  transition: transform 0.3s ease;
}

.producto-card:hover {
  transform: translateY(-5px);
}

.producto-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 15px;
}

.producto-card h2 {
  font-size: 20px;
  margin: 10px 0 5px;
}

.precio {
  color: var(--dorado);
  font-weight: bold;
  margin-bottom: 10px;
}

.resumen {
  font-size: 14px;
  margin-bottom: 15px;
  color: #ccc;
}

.btn-vermas {
  background-color: var(--dorado);
  color: var(--black);
  padding: 10px 15px;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-vermas:hover {
  background-color: #a88653;
  color: #fff;
}