.detalle-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111;
  color: white;
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
}

.detalle-hero img {
  width: 100%;
  max-width: 500px;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.3);
  margin-bottom: 30px;
}

.detalle-info {
  text-align: center;
}

.nombre {
  font-size: 36px;
  color: var(--dorado);
  margin-bottom: 10px;
}

.descripcion-principal {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 30px;
  color: #ddd;
}

.detalle-datos ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-bottom: 30px;
}

.detalle-datos li {
  font-size: 16px;
  margin-bottom: 10px;
  border-left: 3px solid var(--dorado);
  padding-left: 10px;
  transition: 0.3s;
}

.detalle-datos li:hover {
  transform: translateX(5px);
  color: var(--dorado);
}

.botones {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.botones button {
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  background-color: var(--dorado);
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botones button:hover {
  background-color: #d4a94b;
}

.btn-comprar {
  background-color: transparent;
  border: 1px solid var(--dorado);
  color: var(--dorado);
}

.btn-comprar:hover {
  background-color: var(--dorado);
  color: black;
}
