.admin-section {
  padding: 30px;
  background-color: #000;
  color: white;
  text-align: center;
}

.admin-section h1 {
  margin-bottom: 30px;
  color: var(--dorado);
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  max-width: 1000px;
  background-color: #111;
  box-shadow: 0 0 10px rgba(159, 122, 73, 0.4);
  border-radius: 10px;
  overflow: hidden;
}

.admin-table th,
.admin-table td {
  padding: 10px 10px;
  border-bottom: 1px solid #9f7a49;
}

.admin-table th {
  background-color: #222;
  color: var(--dorado);
  font-weight: bold;
}

.admin-table td img {
  width: 80px;
  height: auto;
  border-radius: 5px;
}

.btn-eliminar {
  padding: 8px 14px;
  background-color: var(--dorado);
  border: none;
  color: var(black);
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.btn-eliminar:hover {
  background-color: #a10000;
  font-weight: bolder;
}

.btn-editar {
  padding: 8px 14px;
  background-color: var(--dorado);
  border: none;
  color: var(black);
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.btn-editar:hover {
  background-color: rgb(168, 95, 0);
  font-weight: bolder;
}
